html{
	overflow-y: scroll;
	height: 100%;
}

body{
	height: 100%;
	margin: 0 auto;
	background-color: white;
	position: relative;
    font-family: 'Old Standard TT', serif;
    font-family: 'Roboto', sans-serif;
}

/*flexing the navbar*/
.container {
	display: flex;
	color: black;
}


/*mobile first approach to make navbar more viewable*/
@media screen and (min-width: 500px) {
.container1 {
	display: flex;
	color: black;
}
}

.contain {
	display: flex;
	width:25%;
}

.slide{
	padding: 2.7vw;
	max-width: 27vw;
}

.slide1{
    padding: 2.7vw;
    height: 15vw;
	width: 23vw;

}

a {
  color: #000;
}

/* header */

.header {
  background-color: transparent;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: transparent;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid transparent;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


@media (min-width: 768px) {

  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  #logo-img{
  	height: 15vw;
	width: 15vw;
	padding-top: 0.5vw;;
  }

}

@media (max-width: 550px) {

  .header ul {
  background-color: white;
  }

}

/*putting the hero image as background for the text*/
#logo-img{
	height: 3vw;
	width: 3vw;
}

.hero-image{
    background-image: url("../images/hero-image.png");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.hero-text{
	text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 50vw;
    transform: translate(-50%, -200%);
    color: #e84855;
    font-size: 2.5vw;
    text-shadow: 0.2vw 0.2vw black;
}

#text1{
      text-align: center;
      color: red;
	  text-shadow: 0.1vw 0.1vw black;
}

#p-h{
	  text-align:center;
	  color: red;
	  text-shadow: 0.1vw 0.1vw black;

}

.im{
	height: 10vw;
	width: 10vw;
}

.details{
	padding:2vw;
	text-align: justify;
	font-size: 1.5vw;
}

#product-image{
	width:98%;
}

@media screen and (max-width: 500px) {
	.details{
		font-size: 4vw;
	}
	.hero-image{
		height: 200vw;
	}
	.hero-text{
		font-size: 7vw;
	}
	#logo-img{
	height: 6vw;
	width: 6vw;
}
}

/*styling the footer*/

footer{
	background-color: black;
	text-align: center;
	color: white;
	padding-bottom: 4vw;
}

.fa {
    padding: 2vw;
    font-size: 3vw;
    width: 5vw;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 550px) {
.fa{
	font-size: 6vw;
}
}

form{
	padding-bottom: 4vw;
}